In [1]:
import pandas as pd 
import numpy as np

In [2]:
data=pd.read_csv("MusicData.csv")
data.head(3)

  ?Format Metric  Year  Number of Records Value (Actual)
0      CD  Units  1973                  1            NaN
1      CD  Units  1974                  1            NaN
2      CD  Units  1975                  1            NaN

In [3]:
data.isnull().sum()

?Format                 0
Metric                  0
Year                    0
Number of Records       0
Value (Actual)       1657
dtype: int64

In [6]:
data.shape

(3008, 5)

In [4]:
data_droped=data.dropna()

In [5]:
data.isnull().sum()

?Format                 0
Metric                  0
Year                    0
Number of Records       0
Value (Actual)       1657
dtype: int64

In [11]:
df=data['Value (Actual)'].bfill(inplace=True)

In [12]:
data.isnull().sum()

?Format              0
Metric               0
Year                 0
Number of Records    0
Value (Actual)       0
dtype: int64

In [13]:
data.drop_duplicates()

           ?Format            Metric  Year  Number of Records Value (Actual)
0               CD             Units  1973                  1            0.8
1               CD             Units  1974                  1            0.8
2               CD             Units  1975                  1            0.8
3               CD             Units  1976                  1            0.8
4               CD             Units  1977                  1            0.8
...            ...               ...   ...                ...            ...
3003  Vinyl Single  Value (Adjusted)  2015                  1    6.205390253
3004  Vinyl Single  Value (Adjusted)  2016                  1    5.198931395
3005  Vinyl Single  Value (Adjusted)  2017                  1     6.33967756
3006  Vinyl Single  Value (Adjusted)  2018                  1    5.386196747
3007  Vinyl Single  Value (Adjusted)  2019                  1    6.795945687

[3001 rows x 5 columns]

In [14]:
data.shape

(3008, 5)

We can not apply the  duplicate function this data base because here is no any uique id/column

In [20]:
data.shape

(3008, 5)

In [22]:
for col in data.select_dtypes(include='object').columns:
    data[col]=data[col].str.lower()

In [26]:
print(data[col])

0               0.8
1               0.8
2               0.8
3               0.8
4               0.8
           ...
3003    6.205390253
3004    5.198931395
3005     6.33967756
3006    5.386196747
3007    6.795945687
Name: Value (Actual), Length: 3008, dtype: object

In [23]:
print(data)

           ?Format            Metric  Year  Number of Records Value (Actual)
0               cd             units  1973                  1            0.8
1               cd             units  1974                  1            0.8
2               cd             units  1975                  1            0.8
3               cd             units  1976                  1            0.8
4               cd             units  1977                  1            0.8
...            ...               ...   ...                ...            ...
3003  vinyl single  value (adjusted)  2015                  1    6.205390253
3004  vinyl single  value (adjusted)  2016                  1    5.198931395
3005  vinyl single  value (adjusted)  2017                  1     6.33967756
3006  vinyl single  value (adjusted)  2018                  1    5.386196747
3007  vinyl single  value (adjusted)  2019                  1    6.795945687

[3008 rows x 5 columns]

In [24]:
for col in data.select_dtypes(include='object').column:
    data[col]=data[col].str.upper()

AttributeError: 'DataFrame' object has no attribute 'column'

In [ ]:
for col in data.select_dtypes(include='object').columns:
    data[col] = data[col].str.upper()
print(data[col])